.split-pane > .split-pane-divider {
    -fx-background-color: #999999;
}

.styled-text-area {
    -fx-font-size: 12pt;
}

.lineno {
    -fx-font-size: 12pt;
}

.styled-text-area .keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.styled-text-area .string {
    -fx-fill: blue;
}

.styled-text-area .comment {
	-fx-fill: green;
}

.styled-text-area .frame-ref {
    -fx-fill: #ff6d12;
}
